    *{
    margin: 0px;
    padding:0px;
    font-family: 'raleway';
    }
    h1{
        font-size: 96px;
        color:#ffff ;
        font-family: 'raleway black', arial;
    }
    body{
    max-width: 100%;
    height: 100%;
    }
    .section1{
    max-width :100%;
    height : 620px;
    background-color:#FEF4F4;
    z-index: 2;
    }

    .section2{
    max-width :100%;
    height : 1800px;
    position: relative;
    background-color:#444F5A;
    z-index: 3;  
    }
    .home1 h2{
        z-index: 5;
        position: absolute;
        font-size: 48px;
        font-family: 'raleway black', arial;
        color: #444F5A;
        padding-left: 5%; 
    }
    .nama{
        transform: translate(400px,-200px);
    }
    .npm{
        transform: translate(400px,200px);
    }
    .angkatan{
        font-size: 90px !important;
        transform: translate(90px,000px);
    }
    .home2{
        width: 40%;
        position: absolute;
        margin-top: -350px;
        right: 7%;
        font-size: 25px;
        line-height: 35px;
        text-align: right;
        color: #D4A5A5;

    }
    .education{
    padding-top: 200px;
    
    }
    .education h2{
        display: inline-flex;
    width: 20%;
    margin: 6.5%;
    transform: translate(0px,300px);
        font-size: 48px;
        font-family: 'raleway black', arial;
        color: #D4A5A5;
        -webkit-text-stroke-color: #444F5A;
        text-align: left;
        position: relative;
        z-index: 100;
    }
    .education img{
    display: inline-flex;
    width: 20%;
    margin: 6.5%;
    transform: translate(0px,-250px);
    }
    .experience{
    padding-top: 0px;
    }
    .experience h1{
        text-align: right;
        transform: translate(0px,-120px);
        margin-right: 2%;
    }

    .section3{
    max-width :100%;
    height : 780px;
    position: relative;
    background-color:#D4A5A5;
    z-index: 0;
    box-sizing:border-box
    }
    .section3 img {vertical-align: middle;}
    .section3 h1{
        transform: translate(0px,30px);
    margin-left: 2%;
    }

    .divider{
    max-width:100%;
    position: absolute;
    bottom: 0px;
    }

    .dots{
    width: 700px;
    position: absolute;
    padding-left: 1vw;
    margin-top: -500px;
    transform: translate();
    }
    .exp{
    width: 550px;
    position: absolute;
    bottom:80px;
    padding-left: 3%;

    }

    .foto{
    width: 600px;
    z-index: 4;
    margin-top: -270px;
    padding-left: 5%; 
    }

    .decleft{
    width: 500px;
    z-index: 3; 
    }

    .decright{
    width: 180px;
    z-index: 3; 
    float: right;
    margin-top: 50px;
    }
    

    .hi1{
    width:900px;
    position: absolute;
    bottom: -60px;
    }

    .hi2{
    width:360px;
    position: absolute;
    bottom: 20px;
    right: 0px;
    }

    footer {
    text-align: center;
    padding: 20px;
    background-color:#444F5A;
    color: white;
    position: relative;
    }
    footer a{
        text-decoration: none;
        color: white;
    }

    .menu a{
    text-decoration: none;
    color: #444F5A;
    width: 120px;
    padding: 25px;
    text-align: center;
    }

    .menu a:hover{
    color: #D4A5A5;
    }

    .menu ul{
    list-style : none;
    position: absolute;
    text-align: right;
    width: 100%;
    }
    .menu li{

    display : inline-flex;

    }
    .table{
    margin-right: 5%;
    margin-top: -50px;
    z-index: 100;
    position: relative;
    }
    .column {
    float: right;
    width: 150px;
    margin:1%;
    height: 150px;
    background-color: #D8BFBF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

   
    }
    .column h2{
    text-align: center;
    text-justify: inter-word;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    .column:hover{
    background-color:#FEF4F4 ;
    font-size: 0;

    }
    .column:hover:after{
    content: attr(data-hover);
    font-size: 24px;
    color: #D4A5A5;
    text-align: center;
    text-justify: inter-word;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }

.slideshow-container {
  max-width: 560px;
  height: 400px;
  transform: translate(0px,50px);
  position: relative;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
    font-family: 'raleway black',arial;
  color: #f2f2f2;
  font-size: 48px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
  float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke:0.5px #444F5A;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  transform: translate(0px,50px);
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.prof{
    width: 100%;
    height: 800px;
    background-color: #FEF4F4;
}
.box{
    width: 50%;
    height: 620px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    
}
.box h2{
    width: 150px;
    font-size: 20px;
    font-family: 'raleway black',arial;
    color: #444F5A;
    margin-top: 25px;
    text-align: left;
    transform: translate(125px,-600px);
    background-color: #D4A5A5;
    text-align: center;
}
.box p{
    font-size: 39px;
    font-family: 'raleway';
    color: #717171;
    margin-bottom: 25px;
    transform: translate(250px,-600px);
    
}
svg{
    stroke:#D4A5A5 ;
    transform: translate(200px,0px);
}

@media (max-width:1230px){
    .menu a{
        color: #D4A5A5;
    }
    .exp{
        width: 300px;
        transform: translate(0px,-270px);
    }
    .home1 h2{
        width: 100%;
        text-align: none;
        
    }
    .nama{
        transform: translate(540px,-100px);
    }
    .npm{
        transform: translate(530px,200px);
    }
    .angkatan{
        transform: translate(130px,000px);
        font-size: 90px !important;
    }
    .decleft{
        z-index: -1;
    }
    .decright{
        z-index: -1;
    }
    .foto{
        margin-left: 15%;
        align-content: center;
        position: absolute;
    }
    .home2{
        width: 60%;
        margin-top: 300px;
        position: relative;
        align-content: center;
        text-align: center;
        z-index: 1000;
        margin-left: 27%;
    }
    .home2 p{
        padding-top: 30px;
        font-weight: 800;
    }
    .section2{
        padding-top:100px ;
    }
    .education img{
        width: 30%;
        margin: 1.5%;
        position: relative;
        z-index: 1000;
        padding-top:200px;

    }
    .education h2{
        font-size:40px;
        /* transform: translate(0px,180px); */
        width: 30%;
        margin: 1.5%;
        position: relative;
        z-index: 1001;

    }
    .dots{
        padding-top: 150px;

    }
    .experience h1{
        padding-top:80px;
        position: relative;
        z-index: 100;
    }
    .box h2{

        transform: translate(0px,-600px);


    }
    .box p{

        transform: translate(125px,-600px);
        
    }
    svg{

        transform: translate(75px,0px);
    }

}
@media(max-width:975px){
    .box{
        background-color: #D4A5A5;
        border-radius: 25px;
    }
    .box h2{
        transform: translate(10px,-600px);
        margin-top: 30px;
        text-align: left;
        background-color: #D8BFBF;

    }
    .box p{
        transform: translate(25px,-600px);
        font-size: 30px;
        margin-bottom: 30px;

    }
    svg{
        transform: translate(-25px,0px);
    }
}
